body {
    position: relative;
    width: 360px;
    height: 640px;

    background: #FFFFFF;
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    position: absolute;
    width: 312px;
    height: 196px;
    left: 24px;
    top: 104px;

    background: #C4C4C4;
}

.share {
    margin: 0 auto;
}

#logo {
    /* boonboon */
    position: absolute;
    width: 149px;
    height: 24px;
    left: 105px;
    top: 12px;
    
    font-family: Righteous;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    /* 1 */
    color: #9706ED;
}

#maintitle {
/* 나와 어울리는 파티는? */
    position: absolute;
    width: 355px;
    height: 25px;
    left: 3px;
    top: 311px;

    /* 제목1 */

    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    /* 2 */
    color: #2D2D2D;
}

#subtitle {
    position: absolute;
    width: 216px;
    height: 18px;
    left: 72px;
    top: 347px;

    /* 설명1 */

    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 132%;
    /* or 16px */

    text-align: center;

    /* 3 */

    color: #6E6E6E;
}

#startbtn {
/* 5 */
    color: #FFFFFF;

    position: absolute;
    width: 216px;
    height: 56px;
    left: 72px;
    top: 419px;
    /* 1 */

    background: #9706ED;
    border-radius: 28px;

    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    align-items: center;
    text-align: center;

    /* 5 */
    color: #FFFFFF;
}

#A {
    position: absolute;
    width: 312px;
    height: 60px;
    left: 24px;
    top: 384px;

    /* 1 */

    border: 1px solid #9706ED;
    box-sizing: border-box;
    border-radius: 30px;

    background: #FFFFFF;
}

#B {
    position: absolute;
    width: 312px;
    height: 60px;
    left: 24px;
    top: 468px;

    /* 1 */

    border: 1px solid #9706ED;
    box-sizing: border-box;
    border-radius: 30px;
    background: #ffffff;
}

#title {
    position: absolute;
    width: 312px;
    height: 96px;
    left: 24px;
    top: 128px;

    /* 질문 */

    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132%;
    /* or 24px */

    text-align: center;

    /* 2 */

    color: #2D2D2D;
}

#party {
    position: absolute;
    width: 312px;
    height: 24px;
    left: 24px;
    top: 72px;
    
    /* 제목2 */
    
    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    
    /* 2 */
    color: #2D2D2D;
}

#explain2 {
    position: absolute;
    width: 312px;
    height: 28px;
    left: 24px;
    top: 336px;

    /* 제목1 */

    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    /* 1 */
    color: #9706ED;
}

#explain {
    position: absolute;
    width: 312px;
    height: 16px;
    left: 24px;
    top: 316px;

    /* 설명1 */
    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 132%;
    
    /* identical to box height, or 16px */
    text-align: center;

    /* 3 */
    color: #6E6E6E;
}

#explain_y {
    position: absolute;
    width: 300px;
    height: 248px;
    left: 36px;
    top: 388px;

    /* 응답 */
    font-family: Gmarket Sans TTF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;
    /* or 18px */

    /* 2 */
    color: #2D2D2D;
}

#bar {
    position: absolute;
    width: 148px;
    height: 0px;
    left: 106px;
    top: 670px;

    /* 1 */
    border: 2px solid #9706ED;
}

#dot {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 24px;
    top: 394px;

    /* 1 */
    background: #9706ED;
}

.text {

    position: absolute;
width: 312px;
height: 96px;
left: 24px;
top: 128px;

/* 질문 */

font-family: Gmarket Sans TTF;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 132%;
/* or 24px */

text-align: center;

/* 2 */

color: #2D2D2D;
}