@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    position: relative;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;

    margin: 0 auto;
    background: #FFFFFF;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.start {
    margin: 60px 15px;
    /* text-align: center; */
}

.start img {
    display: block;
    margin: auto;
}

img {

position: relative;

width: 312px;
height: 208px;
}

.question {
    display: none;
    vertical-align: middle;
    text-align: center;

    /* justify-content: center; */
}

.question_g {
    vertical-align: middle;
}

.btn_g {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 230px;
    
}
.result {
    display: none; 
    text-align: center;
    vertical-align: middle;
}

 #img {
    position: relative;

    margin-bottom: 15px;

    background: #C4C4C4;
}

/* .share {
    margin: 0 auto;
} */


#logo {
    /* boonboon */   
    margin-top: 15px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    /* 1 */
    color: #9706ED;
}

#maintitle {
/* 나와 어울리는 파티는? */
    position: relative;

    margin-top: 20px;
    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #2D2D2D;
}

#subtitle {
    position: relative;
    margin-top: 5px;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 132%;

    text-align: center;

    color: #6E6E6E;
}

#startbtn {

    color: #a38c8c;

    position: relative;
    margin: auto;

    width: 216px;
    height: 56px;
    

    background: #9706ED;
    border-radius: 28px;
    border-color: #9706ED;

    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 47px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#A {
    position: absolute;

    width: 312px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 230%);

    border: 1px solid #9706ED;
    box-sizing: border-box;
    border-radius: 30px;
    background: #FFFFFF;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;
    
    align-items: center;
    text-align: center;

    color: #2D2D2D;
}

#B {
    position: absolute;

    width: 312px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 370%);

    border: 1px solid #9706ED;
    box-sizing: border-box;
    border-radius: 30px;
    background: #ffffff;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;
   

    align-items: center;
    text-align: center;
    
    color: #2D2D2D;
}


#title {
    position: relative;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;

    /* 질문 */
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132%;

    text-align: center;


    color: #2D2D2D;
}

.text {

    position: absolute;
    width: 312px;
    height: 96px;
    left: 24px;
    top: 128px;
    
    /* 질문 */
    font-family: 'GmarketSansMedium'F;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132%;
    
    text-align: center;
    
    color: #2D2D2D;
    }

#party {
    position: relative;
       
    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    

    color: #2D2D2D;
}

#result_img {
    position: relative;
    margin: 15px;

    width: 248px;
    height: 248px;

    border-radius: 70%;
}

#explain {
    position: relative;
    
    margin:4px;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 132%;

    text-align: center;
    color: #6E6E6E;
}

#explain2 {
    position: relative;

    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #9706ED;
}

ul {
display: flex;
flex-wrap: wrap;
list-style: square;
text-align: justify;
margin: 24px 10px;
padding: 0;


}

ul li {
margin: 5px 0;

}

ul li::marker{
color: #9706ED;
margin-right: 10px;
}


/* #dot {
    position: relative;
    width: 5px;
    height: 5px;

    background: #9706ED;
} */

#explain_y {
    position: relative;
    margin: 1px;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;

    color: #2D2D2D;
}

hr {
    position: relative;
    width: 50%;
    height: 1px;
    background-color: #9706ED;
}

#core {
    position: relative;
    margin: 20px;
}

/* .bar {
    position: relative;
    width: 148px;
    height: 0px;
    left: 106px;
    top: 670px; 
    
    border: 2px solid #9706ED;
} */



.recommend {
    position: relative;
    margin: 20px;

    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 132%;

    text-align: center;
}

.pre_product {
    display: grid;
    /* grid-template-columns: repeat(1fr, 6); */
    grid-template-rows: 40px 25px;
    font-family: 'Open Sans';
    text-align: left;

    align-items:flex-end;
}

.pre_product .contain {
    justify-content: space-around;
}


.pre_product .name {
    display: flex;
    align-items: flex-end;
}

.more {
    position: relative;
    display: flex;
    margin: 15px -5px;


    font-family:'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;
    text-align: right;

    color: #9706ED;
}


#more_text {
flex: 1;
}

#more_icon {
margin-left: 5px;
font-size: 10px;
}

.more_result {
display: none;
margin: 80px 20px;
}


#back {
position: absolute;
text-align: left;
top: 0px;

font-size: 30px;
color: #6E6E6E;
}

#more_items {
display: grid;
grid-auto-rows: minmax(150px, auto);
background-color: #FFFFFF;
}

.pd_list {
list-style: none;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;

align-items: center;

}

.contain {
position: relative;
margin: auto;
width: 148px;
height: 204px;
object-fit: contain;
grid-column-start: 1;

}

.product {
display: grid;
/* grid-template-columns: repeat(1fr, 6); */
grid-template-rows: 20px 23px 30px 25px 25px 25px;
font-family: 'Open Sans';

text-align: left;
}

.name {
font-family: 'Open Sans';
font-weight: 600;
font-size: 14px;
line-height: 119%;
color: #2D2D2D;
}

.house {
font-family: 'Open Sans';
font-weight: 600;
font-size: 10px;
line-height: 120%;
color: #6e6e6e;
}

.type, .top, .middle, .base {
font-family: 'Open Sans';
font-weight: normal;
font-size: 9px;
line-height: 120%;
color: #6e6e6e;
}


.survey {
position: relative;
margin: 20px;

font-family: 'GmarketSansBold';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 132%;

text-align: center;
}

#survey_text {
position: relative;
margin: 10px;

font-family: 'GmarketSansMedium';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 131%;

color: #2D2D2D;
}

#survey_btn {
    color: #a38c8c;

    position: relative;
    margin: 24px auto;

    width: 180px;
    height: 48px;

    background: #ffffff;
    border-radius: 28px;
    border-color: #9706ED;

    font-family: 'GmarketSansmedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 47px;
    align-items: center;
    text-align: center;

    /* 5 */
    color: #2D2D2D;
}

.result_bottom {

align-items: center;
text-align: center;

margin: 140px auto;
}

.modal .btn{
    cursor: pointer;
    border: 1px solid #999999;
    text-align: center;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
}

.dimLayer{
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0; top: 0px;
    margin: 0; padding: 0;
    z-index: 9998;
}

.modal{
    width: 380px;
    height: 200px;
    border-radius: 10px;
    padding: 80px 24px;
    box-sizing: border-box;
    text-align: center;
}

.modal-section{
    background: #ffffff;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
}

.menu_msg{
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 131%;

}
.enroll_box p{
    padding-bottom: 10px;
}

.gray_btn {
    width: 90px;
    background: #ffffff;
    color: #999999;
    height: 36px;
    line-height: 36px;
    transition: 0.5s;
    font-size: 17px;}

.pink_btn {
    width: 90px;
    background: #9706ED;
    color: #ffffff;
    height: 36px;

    transition: 0.5s;
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;

    border: none;}

#copyLink {
    position: relative;

    width: 312px;
    height: 60px;
    border: 1px solid #9706ED;

    border-radius: 30px;
    background: #9706ED;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;

    align-items: center;
    text-align: center;

    color: #ffffff;
}

#retest {
    position: relative;

    margin-top: 25px;
    width: 312px;
    height: 60px;
    border: 1px solid #9706ED;
    /* box-sizing: border-box; */
    border-radius: 30px;
    background: #ffffff;

    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131%;

    align-items: center;
    text-align: center;

    color: #2D2D2D;
}